.idea/
.DS_Store/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
.next

tsconfig.tsbuildinfo

.env.local
.env.*.local

public/
.eslintrc.json
*.config.cjs
yarn.lock
yarn-error.lock
